@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

@import "tailwindcss";


@theme {
  --font-asheader: 'Jolly Lodger';
  --font-asbody: 'Inter';
  --font-aswanted: 'Ultra';
}

@plugin "@designbycode/tailwindcss-text-stroke";

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

@keyframes sway {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(1deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-1deg); }
  100% { transform: rotate(0deg); }
}

.sway {
  animation: sway 4s ease-in-out infinite;
}

