@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss";


@theme {
  --font-asheader: 'Jolly Lodger';
  --font-asbody: 'Inter';
  --font-aswanted: 'Ultra';
}

@plugin "@designbycode/tailwindcss-text-stroke";

* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}
